body {
    background-color: transparent;
    overflow-x: hidden;
    overflow-y: scroll;
}

.nav-item>a {
    color: black;
}

.nav-item>a:hover {
    color: pink;
}

.md-form input {
    border: none;
    border-bottom: 1px solid grey;
}

.containerr {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='0.29' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='rotate(96 1000 750) scale(28.2) translate(-964.54 -723.4)'%3E%3Cuse fill='%23fafafa' href='%23s' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='2'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='rotate(96 1000 750) scale(28.2) translate(-964.54 -723.4)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(96 1000 750) scale(28.2) translate(-964.54 -723.4)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(96 1000 750) scale(28.2) translate(-964.54 -723.4)'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='rotate(96 1000 750) scale(28.2) translate(-964.54 -723.4)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='rotate(96 1000 750) scale(28.2) translate(-964.54 -723.4)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='rotate(96 1000 750) scale(28.2) translate(-964.54 -723.4)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='rotate(96 1000 750) scale(28.2) translate(-964.54 -723.4)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}


/*.search-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    border: .1em solid rgb(179, 176, 176);
}

.search-text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(68, 67, 67);
    font-size: 16px;
    line-height: 40px;
    width: 240px;
}

.search-box>i {
    margin-top: 12px;
    margin-right: 22px;
}*/

.search-box {
    margin-top: 15px;
    width: 430px;
}

.sign {
    margin-left: 15px;
    margin-top: 10px;
    height: 45px;
}

.boutons {
    margin-left: 100px;
}


/****************************************MegaMenu**************************************************/

.area {
    height: 100vh;
    width: 100%;
}

.menu-area {
    position: static;
}

.mega-area {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    padding: 15px;
}

.mega-area button {
    list-style-type: none;
}

.mega-area h5 {
    font-weight: bold;
}

.dropdown-item {
    padding: 5px 0;
}

.mega-area a:hover {
    background-color: pink;
    cursor: pointer;
}

.object {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    padding-left: 450px;
}


/***************************************Time Line*************************************************************/

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Oswald");

/*media queries*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.wrapper {
    margin: 3.125em auto;
    padding: 1em 5em 1em;
    max-width: 1000px;
}


/* - &:nth-child(1) {
			 grid-area: entry1;
		 }
   - useful timesaver if there is a lengthy list
*/

.timeline {
    line-height: 1.5em;
    font-size: 14px;
    -webkit-transition: all .4s ease;
    transition: all 1s ease;
    position: relative;
    counter-reset: section;
}

.timeline:before {
    content: "";
    width: 10px;
    height: 78%;
    background: #87ceeb;
    position: absolute;
    top: 0;
    left: -3.313em;
    border-radius: 40px 40px;
}

.timeline--entry {
    position: relative;
    background-color: #313030;
}

.timeline--entry__title {
    color: white;
    background-color: #ec407a;
    font-family: "Oswald", Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 300;
    font-size: 1rem;
    padding: 1em;
    height: 40px;
}

.timeline--entry__title:before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    left: -1em;
    border-right: 10px solid #ec407a;
    z-index: 1;
}

.timeline--entry__detail {
    background-color: #dddddd;
    padding: 2em;
    margin: 0;
}

.timeline--entry:before {
    content: "";
    font-family: "Oswald", Georgia, Cambria, "Times New Roman", Times, serif;
    color: #353434;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 3.5em;
    height: 3.5em;
    background-color: #87ceeb;
    border: .2em solid rgb(179, 176, 176);
    border-radius: 50%;
    position: absolute;
    counter-increment: section;
    content: counter(section);
    text-shadow: 0 1px 0 #424242;
    left: -4.5em;
    z-index: 2;
}

.parg {
    font-family: cursive;
    font-size: 1.5em;
    line-height: 150%;
}

@supports (display: grid) {
    @media (min-width: 768px) {
        .timeline {
            display: grid;
            grid-gap: 4.75em;
            grid-template-areas: ".  entry1" "entry2  ." ". entry3" "entry4 ." ". entry5";
        }
        .timeline:before {
            left: 49.5%;
        }
        .timeline--entry:nth-child(1) {
            grid-area: entry1;
        }
        .timeline--entry:nth-child(2) {
            grid-area: entry2;
        }
        .timeline--entry:nth-child(3) {
            grid-area: entry3;
        }
        .timeline--entry:nth-child(4) {
            grid-area: entry4;
        }
        .timeline--entry:nth-child(5) {
            grid-area: entry5;
        }
        .timeline--entry:nth-of-type(odd):before {
            left: -3.8em;
        }
        .timeline--entry:nth-of-type(even):not(:nth-of-type(odd)) .timeline--entry__title:before {
            left: 100%;
            border-left: 10px solid #ec407a;
            border-right: 0;
        }
        .timeline--entry:nth-of-type(even):before {
            left: 103%;
        }
    }
}

.border {
    border-top: 2px solid rgba(236, 239, 241, 0.07);
    height: 1px;
    margin: 15px auto 0;
    position: relative;
    width: 30%;
}

.border:before {
    background-color: #fff;
    content: '';
    height: 6px;
    left: 30%;
    margin-left: -20px;
    position: absolute;
    top: -4px;
    width: 150px;
    background-color: #ec407a;
}

.contain {
    display: flex;
    justify-content: space-around;
}

.img1 {
    width: 150px;
    padding-left: 65px;
    margin-bottom: 30px;
}

.img1:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.card-body>h5 {
    color: #ec407a;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
}

.card-body>p {
    font-family: cursive;
}

#imagcours {
    height: 45%;
    width: 100%;
}


/*************************** début Témoignages**********************************************************************************/

.team {
    padding-left: 550px;
}

.profile {
    flex-basis: 260px;
}

.team1 {
    height: 260px;
    width: 260px;
    border-radius: 50%;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 400ms;
}

.profile:hover .team1 {
    filter: grayscale(0);
}

.user-name {
    margin-top: 30px;
    font-size: 35px;
}

.profile h5 {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 3px;
    color: rgb(141, 137, 137);
    text-align: center;
}

.profile p {
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
}


/*@media only screen and (max-width) {
    .profiles {
        flex-direction: column;
    }
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profile p {
        text-align: center;
        margin: 20px 60px 80px 60px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 900px) {
    .object {
        font-size: 40px;
        color: white;
        text-align: center;
    }
    .profiles {
        margin: 20px 0;
    }
    .profile p {
        margin: 20px 10px 80px 10px;
    }
}*/


/*************************** Fin Témoignages**********************************************************************************/


/**********************************Debut Footer*********************************************************************/

footer {
    background-color: #305577;
    position: absolute;
    color: rgb(218, 209, 209);
    width: 100vw;
}

.social {
    padding: 0;
}

.footer h4 {
    padding: 5px 0px;
}

.social li {
    display: inline-block;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    padding: 0.3rem;
}

.social li:hover {
    background-color: blue;
    text-decoration: none;
}

.social li a i:hover {
    color: white;
}

.social li a i {
    color: rgb(53, 52, 52);
    transition: .3s;
    font-size: 30px;
}

.footer .links ul {
    list-style-type: none;
}

.footer .links li a {
    color: #fff;
    transition: color 0.2s;
}

.footer .links li a:hover {
    text-decoration: none;
    color: rgb(30, 118, 226);
}

.footer .location i {
    font-size: 18px;
}

.footer .copyright p {
    font-size: 1.3rem;
    text-shadow: 1px 1px black;
    border-top: 1px solid rgb(255, 255, 255, 0.8);
    border-bottom: 1px solid rgb(255, 255, 255, 0.8);
}


/*************************************Catégories******************************************************************/

.paragr {
    font-family: cursive;
    font-size: 1.4em;
    line-height: 220%;
    text-align: center;
}

.img2 {
    width: 348px;
    height: 200px;
}


/****************************************Apropos********************************************************/

#bienvenu:hover {
    border-bottom: 10px solid rgb(139, 40, 95);
    cursor: pointer;
    transform: scale(1.01);
    transition: 0.5s;
}